@use '../../../packages/design-tokens/tokens';
@use '../../../packages/design-tokens/storefront';
@use 'sass:meta';
@use './app/templates/selecta/selecta';

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRggexSg.woff2') format('woff2');
}

@layer store-base {
  @include meta.load-css('store-base');
}
